@mixin boton ($bordes,$bg-color){
    border-radius: $bordes;
    background-color: $bg-color;
}
.formularios{
    @include boton(5px, $colorform)
}

.button{
    @include boton(5px, $colorprincipal);
    color: $colorletranav;
}