@media (max-width:767px){
    .encabezado .redes{
        display: none;
    }
    .encabezado .buscador{
        visibility: hidden;
    }
}
@media (max-width:991px){
    .encabezado .logoprincipal1{
        display: none;
    }
    .logo_principal{
        display:none;
    }
}