$colorprincipal: rgb(0, 0, 0);
$colorfondo:#fff;
$colorletranav: #fff;
$colorletrabody: rgb(0, 0, 0);
$colorform:rgb(175, 175, 175);
$colorcuerpo: rgb(236, 236, 236);
$colorsombras: rgb(58, 56, 56);
$colorletrainicio: rgb(87, 84, 84);